* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: powderblue;
}

.logo {
  font-size: 6em;
  font-family: "Alfa Slab One", serif;
}

.logo-container {
  width: 100%;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ufo {
  position: absolute;
  top: 400px;
  right: 400px;
  height: 32px;
  width: 32px;
}

.btn {
  text-align: center;
}

#game-container {
  width: 100%;
  text-align: center;
}

#game {
  display: inline-block;
}

.game-of-life {
  position: absolute;
  top: 0px;
  z-index: -1;
}
