body {
  background-color: #96f3ed;
}

.logo {
  font-size: 6em;
  font-family: "Alfa Slab One", serif;
  text-align: center;
}

.ufo {
  position: absolute;
  top: 400px;
  right: 400px;
  height: 32px;
  width: 32px;
}

.btn {
  text-align: center;
}

#game-container {
  width: 100%;
  text-align: center;
}

#game {
  display: inline-block;
}

.game-of-life {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
