@font-face {
    font-family: ElfBoy;
    src: url("../../css/font/Elfboyclassic.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
}

#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background: rgb(223, 221, 95);
    border-bottom: 3px solid rgb(73, 72, 32);
}

#header-name {
    font-family: ElfBoy;
    font-size: 96px;
    height: 49px;
}

#header-name-text {
    transform: translate(4px, -22px);
}

#header-controls {
    font-size: smaller;
    width: 100%;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: right;
    column-gap: 8px;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.button {
    width: 128px;
    height: 31px;
    padding: 2px 8px;
    display: grid;
    place-content: center;
    border-radius: 8px;
    border: 3px solid rgb(73, 72, 32);
    cursor: pointer;
}

.button:hover {
    background-color: cadetblue;
}

#games {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

#games-carousel {
    display: flex;
    flex-direction: row;
    height: 320px;
    margin: 0 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 10px;
    scrollbar-color: cadetblue rgb(73, 72, 32);
}

#games-carousel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#games-carousel::-webkit-scrollbar-track {
    background-color: rgb(73, 72, 32);
    border-radius: 10px;
    width: 10px;
}

#games-carousel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: cadetblue;
    border: 1px solid rgb(73, 72, 32);
}

/*animated game panels*/
.container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    height: 256px;
    width: 128px;
    border-radius: 8px;
    border: 3px solid rgb(73, 72, 32);
    padding: 16px 16px 0 16px;
    margin: 16px 16px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2), 0px 15px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: rgb(223, 221, 95);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.icon {
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 2rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.info h1 {
    font-size: 1rem;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 0.5rem;
    padding: 1rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.play {
    margin-bottom: 1rem;
    transition: all 0.75s ease-out;
}

.play button {
    width: 128px;
    height: 31px;
    padding: 2px 8px;
    border-radius: 8px;
    border: 2px solid rgb(73, 72, 32);
    color: white;
    background: green;
    cursor: pointer;
    font-weight: bolder;
}

.play button:hover {
    background: #f54642;
}

#footer {
    text-align: center;
}
