body {
    background-color: rgb(126, 84, 5);
}

.game {
    text-align: center;
    align-content: center;
}

canvas {
    cursor: url("../img/blank_cursor.png"), auto;
}

.buttons {
    width: 960px;
}
