body {
    background-color: rgb(167, 117, 24);
    background-color: rgb(126, 84, 5);
}

.game {
    text-align: center;
    align-content: center;
}

canvas {
    cursor: url("blank_cursor.png"), auto;
}

.buttons {
    width: 960px;
}
